In [1]:
#Import Dependencies
import pandas as pd
import gmaps
import requests
#import the API Key
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-11-05 21:11:56,-23.1203,-134.9692,74.70,78,82,9.75
1,1,Ushtobe,KZ,2021-11-05 21:11:56,45.2514,77.9838,12.20,73,1,9.44
2,2,Zhigansk,RU,2021-11-05 21:11:57,66.7697,123.3711,4.64,95,100,23.71
3,3,Waingapu,ID,2021-11-05 21:11:57,-9.6567,120.2641,80.65,80,100,3.36
4,4,Bay Roberts,CA,2021-11-05 21:11:57,47.5999,-53.2648,41.50,75,100,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],# The code after weights is a list comprehesion that replaces the items in max temp with 0 if they are less the 0. The max funcion is currently saying take the greater of the temp value or 0.
dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                    (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Waingapu,ID,2021-11-05 21:11:57,-9.6567,120.2641,80.65,80,100,3.36
11,11,Lompoc,US,2021-11-05 21:12:00,34.6391,-120.4579,84.69,61,1,20.71
16,16,Hilo,US,2021-11-05 21:10:57,19.7297,-155.0900,80.33,69,90,4.61
24,24,Santiago,CL,2021-11-05 21:09:25,-33.4569,-70.6483,80.29,26,0,11.50
25,25,Januaria,BR,2021-11-05 21:12:04,-15.4833,-44.3667,78.26,74,71,4.14
30,30,Puerto Ayora,EC,2021-11-05 21:12:06,-0.7393,-90.3518,75.16,74,33,11.92
31,31,Madang,PG,2021-11-05 21:12:06,-5.2246,145.7966,76.68,91,98,2.30
33,33,Butaritari,KI,2021-11-05 21:12:07,3.0707,172.7902,82.38,72,6,12.68
34,34,Kavieng,PG,2021-11-05 21:12:07,-2.5744,150.7967,83.19,74,98,12.15
35,35,Palu,ID,2021-11-05 21:12:08,-0.8917,119.8707,75.38,96,98,2.73

In [28]:
#look for nan values
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3       Waingapu      ID     80.65  -9.6567  120.2641
11        Lompoc      US     84.69  34.6391 -120.4579
16          Hilo      US     80.33  19.7297 -155.0900
24      Santiago      CL     80.29 -33.4569  -70.6483
25      Januaria      BR     78.26 -15.4833  -44.3667
30  Puerto Ayora      EC     75.16  -0.7393  -90.3518
31        Madang      PG     76.68  -5.2246  145.7966
33    Butaritari      KI     82.38   3.0707  172.7902
34       Kavieng      PG     83.19  -2.5744  150.7967
35          Palu      ID     75.38  -0.8917  119.8707

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Waingapu,ID,80.65,-9.6567,120.2641,Pondok Wisata Elim
11,Lompoc,US,84.69,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
16,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Santiago,CL,80.29,-33.4569,-70.6483,Che Lagarto Hostel Santiago
25,Januaria,BR,78.26,-15.4833,-44.3667,Hotel Paraguassu
...,...,...,...,...,...,...
560,Muli,MV,82.33,2.9167,73.5667,Medhufushi Island Resort
572,Meulaboh,ID,75.18,4.1363,96.1285,Kost Pria
575,Tual,ID,83.14,-5.6667,132.7500,Grand Vilia Hotel
577,Esna,EG,77.04,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
579,Soyo,AO,78.21,-6.1349,12.3689,Hotel Mpampa

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))